*{
	font-family: Arial;
}
body{
	margin: 0;
	padding: 0;
	background-color: #f8f8f8;
    color: #18ACC4;
}



header{
	display: flex;
	justify-content:center;
    background-color: white;
	height: 65px;
}

header .header-layout{
    border-bottom: solid 1px #ebebeb;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.09);  
}

.container{
	display: flex;
	max-width: 1040px;
	align-items: center;
}
.header-info a{
	text-decoration: none;
} 
.header-icon {
    float: left;
    margin-right: 8px;
    margin-left: -34px;
    width: 22px;
    height: 22px;
}
.header-text {
    color: #007a8d;
    font-size: 15px;
    font-weight: bold;
}
.header-info .header-text {
    width: 120px;
    margin-top: 3px;
}
.header-column{
	display: flex;
}

.header-division{
	align-self: stretch;
	border: 1px solid #ebebeb;
	margin: 13px 8px;
    margin-right: 10px;
}


.header-contact a{
	text-decoration: none;
}
.header-contact .header-icon{
     margin-top: 22px;
     margin-bottom: 22px;
     margin-left: 10px;
}
.header-text-smaller {
    color: #007a8d;
    font-size: 12px;
    font-weight: bolder;
    width: 220px;
    margin-top: 3px;
}
.header-contact .header-text{
	margin-top: 16px;
}

.header-logo-img {
    width: 110px;
    align-items: center;
    margin-left: 105px;
}
.header-info-person{
	margin-left: 230px;

}
.header-info-person a{
	text-decoration: none;
	align-items: center;
} 
.header-info-person .header-icon {
    float: right;
    margin-right: -26px;
    width: 22px;
    height: 22px;
    margin-top: -20px;
}


nav{
    display: flex;
}
.nav-menu{
	height: 35px;
	background-color: #18ACC4;
	
}
.menu-bigwidth {
    width: 100%;
    max-width: 1030px;
    margin: auto;
}
.menu-bigwidth ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu-bigwidth li {
    float: left;
    line-height: 35px;
    padding-left: 20px;
    padding-right: 20px;
}
.menu-text {
    font-size: 13px;
}
.menu-text-conta{
    font-size: 15px;
}
.bold{
    font-weight: bold;
}
.bold-less{
    font-weight: 500;
}
.menu-bigwidth .active{
    background-color: #007A8D;
}
.menu-decoration{
    text-decoration: none;
    color: white;
}




.min-nav-menu{
    margin-top: 25px;
}
.menu{
    width: 100%;
    max-width: 990px;
    margin: auto;
}
.menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    float: left;
}
.min-menu-text{
    font-size: 12px;
    font-weight: bolder;
}
.min-menu-decoration{
    text-decoration: none;
    color: #007a8d;
}
.min-menu-li{
    padding-left: 10px;
    padding-right: 10px;
    color: gray;
    font-size: 12px;
}

.menu .min-active .min-menu-decoration{
    font-weight: normal;
    color: black;
}




.text-big {
    margin-top: 40px;
    color: #1F2D30;
    font-size: 35px;
    font-weight: bold;
}
.text-small {
    margin-top: 18px;
    color: #1F2D30;
    font-size: 15px;
    margin-bottom: 35px;
}





.float-right{
    float: right;
    margin-bottom: 35px;
}
.semestres-text{
    padding: 4px;
    text-align: center;
}

.semestres-last{
    border-style: solid;
    border-width: 1px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.active-semestres-last{
    border-style: solid;
    border-width: 1px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #007A8D;
}
.semestres-middle{
    border-style: solid;
    border-width: 1px;
}
.active-semestres-middle{
    border-style: solid;
    border-width: 1px;
    background-color: #007A8D;
}
.active-semestres-first{
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #007A8D;
}
.normal-semestres-first{
    border-style: solid;
    border-width: 1px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}
.semestres-decoration{
    text-decoration: none;
    color:#007A8D;
    font-weight: bold;
    font-size: 15px;
}

.active-semestres-first .semestres-decoration {
    color:white;
    padding: 5px;
}
.active-semestres-middle .semestres-decoration {
    color:white;
    padding: 5px;
}
.active-semestres-last .semestres-decoration {
    color:white;
    padding: 5px;
}




.add-bolsa{
    height: 375px;
    width: 225px;
    box-shadow: 1px 2px 8px 0px #80808026;
    margin-bottom: 35px;
    background-color: white;
    margin-bottom: 220px;
}
.plus-img{
    padding-top: 90px;
    padding-left: 92.5px;
    margin-bottom: 30px;
}
.plus-icon{
    width: 40px;
    height: 40px;
}
.plus-title {
    color: #1F2D30;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.plus-text {
    margin-top: 4px;
    color: #1F2D30;
    font-size: 10px;
    text-align: center;
}




footer{
    height: 170px;
    background-color: #18ACC4;
}
.first-footer{
    height: 85px;
    background-color: #007A8D;
}
.item-footer{
    display: flex;
    margin-right: 90px;
}
.menu-footer{
    display: flex;
}
.footer-icon{
    width: 35px;
    align-items: center;
    justify-content: center;
}
.footer-item-flex{
    margin-top: 25px;
    display: flex;
    flex-direction: row;
}
.footer-title-text{
    margin-left: 10px;
    letter-spacing: 1px;
}
.footer-title{
    color: white;
    font-weight: bold;
    margin-top: 23px;
    font-size: 14px;
}
.footer-text{
    margin-top: 4px;
    color: white;
    font-size: 11px;
    font-weight: bold;
}
.item-footer-last{
    display: flex;
    margin-right: -1px;
}
.icon-chat{
    height: 27px;
    margin-top: 1px;
}
.icon-email{
    height: 24px;
    margin-top: 2px;
}
.last-footer{
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    font-size: 11px;
    font-weight: bold;
}
.icon-heart{
    width: 11px;
    height: 11px;
}






#overlay {
    position: absolute; 
    display: block; 
    width: 100%; 
    height:1120px; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(31, 45, 48, 0.88);
    z-index: 10; 
}
.modal-overlay  {
    position: absolute; 
    left: 25%;
    margin-top: 130px;
    z-index: 11;
}
.modal-overlay .overlay-icon{
    margin-left: 610px;
    width: 30px;
    height: 30px;
    opacity: 0.6;
}
.modal-content{
    position: absolute;
    width: 640px;
    height: 760px;
    background-color: #ffffff;
}
.modal-menu{
    width: 100%;
    max-width: 570px;
    margin: auto;
}
.text-color-default{
    color: #1F2D30;
}
.modal-title{
    margin-top: 40px;
    font-size: 25px;
    font-weight: bold;
}
.modal-text{
    margin-top: 10px;
    font-size: 12px;
}
.modal-input1{
    margin-top: 40px;
    display: flex;
}
.modal-text-input{
    font-weight: 800;
    font-size: 10px;
    margin-bottom: 2px;
    color: #1F2D30;
}
.modal-input-first{
    width: 270px;
    height: 40px;
    border-radius: 5px;
    margin-right: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: #8080807a;

}
.modal-input-last{
    width: 270px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #8080807a;
    border
}


.modal-input2{
    margin-top: 20px;
    display: flex;
}
.modal-input-cheackbox{
    margin-top: 26px;
    display: flex;
}
.flexbox{
    display: flex;
}

.container-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 13px;
    user-select: none;
    color: #1F2D30;
}
.container-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkmark-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    border-radius: 2px;
    border: solid black;
    border-width: thin;
    background-color: white;
}
.container-checkbox input:checked ~ .checkmark-checkbox {
  background-color: #18ACC4;
  border: none;
}
.checkmark-checkbox:after {
  content: "";
  position: absolute;
  display: none;
}
.container-checkbox input:checked ~ .checkmark-checkbox:after {
  display: block;
}
.container-checkbox .checkmark-checkbox:after {
    left: 5px;
    top: 1px;
    width: 3px;
    height: 7px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkbox-first{
    margin-right: 20px;
}



.modal-input2-fist{
    margin-right: 103px;
}
.range-output{
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 3px;
    color: #1F2D30;
}

#range-input{
    color: white;
    cursor: default;
    border: 10px;
    border-color: #18ACC4;
    margin: 2px;
}
.slider {
    -webkit-appearance: none;
    width: 265px;
    height: 3px;
    border-radius: 8px;
    background: #18ACC4;
    outline: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    border-style:solid;
    border-width:2px;
    border-color: #18ACC4;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    border: 10px;
    border-color: #18ACC4;
    cursor: pointer;
    border-style:solid;
    border-width:2px;

}



.modal-indice{
    font-size: 13px;
    color: #1F2D30;
    font-weight: bolder;
    display: flex;
    margin-top: 40px;
}
.modal-resultado{
    margin-right: 265px;
}

.modal-ordenar{
   display: flex;
}
.modal-ordenar-modo{
    display: flex;
    text-decoration: none;
    margin-left: 6px;
    color: #007A8D;
    width: 140px;
}
#modal-icon{
    margin: 0px;
    margin-left: 3px;
    width: 13px;
    margin-top: 3px;
    height: 8px;
    opacity: 1;
}
.hr-modal{
    opacity: 0.5;
    width: 550px;
    margin-left: 2px;
    margin-top: 12px;
}
.hr-modal-first{
    opacity: 0.5;
    width: 550px;
    margin-left: 2px;
}
.modal-results{
    height: 45px;
    display: flex;

}
.modal-reults-margin{
    margin-top: 7px;
}
.modal-img{
    max-height: 55px;
    margin-top: -5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 130px;
}
.modal-img-width{
    width: 130px;
}
.modal-title-result{
    font-size: 15px;
    color: #007A8D;
    margin-left: 10px;
    margin-top: 6px;
    font-weight: bold;
}
.modal-text-result{
    font-size: 11px;
    color: #1F2D30;
    margin-left: 10px;
    margin-top: 6px;
}
.modal-bolsa{
    margin-left: 245px;
    text-align: center;
    justify-content: center;
}
.modal-text-bolsa{
    font-size: 15px;
    color: #1F2D30;
    margin-top: 6px;
}
.modal-bold-bolsa{
    color: #0FA866;
    font-size: 15px;
}
.modal-cancelar{
    z-index: 15;
    position: absolute;
    top: 700px;
    right: 231px;
    background-color: white;
    color: #18acc4;
    padding: 14px;
    border: solid 1px;
    border-radius: 5px;
    font-weight: bolder;
}